/* Make the map container full screen */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Matches the color of the frame */
    font-family: 'Nunito Sans', sans-serif;
}

/* Container for title and map with padding for the frame */
#map-container {
    width: 100vw;
    height: 80vh;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f0f0f0; /* Frame color, matching the map style */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


/* Style for the title above the map */
#page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Make the map occupy full width minus padding */
#map {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#div-container {
    display: flex;
    width: 100vw;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


/* Style for info blocks under the map */
.polygon-info {
    display: none; /* Initially hidden */
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Optionally, style for active blocks */
.polygon-info.active {
    display: block; /* Show the active block */
}

.polygon-info {
    display: none;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h3 {
    flex: 1;
}

.flag-image {
    max-width: 100px;
    margin-left: 10px;
}

.content {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.text {
    flex: 1;
    min-width: 300px;
}

.images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.images img {
    max-width: 300px;
    width: 100%;
    object-fit: cover;
}

/* Optional - if images are longer than text */
.images img:last-child {
    margin-bottom: auto;
}

.highlighted-list {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
  }
  
  .highlighted-list li {
    margin-bottom: 15px;
  }
  
  .highlighted-list strong {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .highlighted-list p {
    margin-left: 20px; /* Отступ для текста внутри списка */
  }